<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="CSS/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Azeret+Mono&display=swap" rel="stylesheet">
</head>

<body>
    <div class="box" id="heading">

        <h1><%= listofDay %></h1>
    </div>
    <div class="box">
        <% for (var i = 0; i < newTodos.length; i++) { %>
        <div class="item">
            <input type="checkbox" name="" id="">
            <p><%= newTodos[i] %></p>
        </div>
        <% } %>
        <form class="item" action="/" method="post">
            <input type="text" name="todoName" placeholder="Add more TODO!">
            <button type="submit" name="list" value="<%= listofDay %>">+</button>
        </form>
    </div>
</body>

</html>